*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}
body{
    background-color: white;
}
.geral{
    width: 100vw;
    display: flex;
    justify-content:center ;
}
.cima{
    background-color: rgb(184, 184, 184);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
    width: 70vw;
    border-radius: 10px;
    height: 8vh;
}
.cima img {
    width: 5vw;
    height: 4vh;
    font-size: 1.5vw ;
}
.cont .pesquisa{
    position: relative;
    width: 15px;
    height: 15px;
    border-radius: 20px;
    padding: 16px;
    transition-duration: 500ms;
    cursor: pointer;
    background-repeat: no-repeat;
    font-size: 15px;
    color: transparent;
    border: 1px solid rgb(0, 0, 0);
    overflow: hidden;
    background: url(img/lupa.png) no-repeat transparent;
    background-size: 20px;
    background-position: 45% 50%;
}
.cont .pesquisa:hover{
    border: 1px solid #6507bd;
    cursor: pointer;
    background: url(img/lupa.png) no-repeat transparent;
    background-size: 20px;
    background-position: 5% 50%;
    
}
.cont .pesquisa:focus{
    width: 200px;
    cursor: pointer;
    padding-left: 40px;
    color: white;
    outline: none;
    box-shadow: 2px 2px 5px #000000,
                -3px -3px 5px #ffffff;
    border: 1px solid #6507bd;
    border-radius: 10px;
    background-color: transparent;
    background: url(img/lupa.png) no-repeat;
    background-size: 20px;
    background-position: 10px 50%;
}
.cima li{
    list-style-type: none;
}
.cima li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.cima li a:hover{
    color: #6507bd;
}
.cima li h3{
    position: relative;
    display: inline-block;
    padding: 10px 10px;
    color:#000000;
    font-size: 17px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 10px;
    letter-spacing: 1px;
    width: 100%;
}
